@if (isAdmin()){
    <div class="adminMode">
      <a class="adminModeText">Attention : Vous êtes actuellement connecté en mode Administrateur.</a>
      <button type="button" class="btn btn-link adminModeButton"  (click)="adminLogOut()">Se déconnecter</button>
    </div>
    
  }
<nav class="navbar navbar-light navbar-expand bg-light ps-5">

  

  <a class="navbar-brand" routerLink="/">
    <img src="logo.png" alt="Logo" height="80">
  </a>
  <a class="nav-item nav-link ms-3" routerLink="/movies">Liste des films</a>
  <a class="nav-item nav-link ms-3" routerLink="/admin">Espace administrateur</a>

  
  <div class="search-menu">
    <input type="search" class="search-input" placeholder="Rechercher par titre ou réalisateur" [(ngModel)]="searchValue" (keyup.enter)="onSearch()" />
    <i class="bi bi-search search-icon" (click)="onSearch()"></i>
  </div>

  <div class="profile-menu">

    <div *ngIf="isLoggedIn && currentUser" class="profil">
      <i class="bi bi-person-circle"></i>
      <div class="profile-dropdown">
        <p>Bienvenue, {{ currentUser.firstName }}!</p>
        <a routerLink="/profil">Mon profil</a>
        <a routerLink="/myreviews">Mes commentaires</a>
        <a (click)="logout()">Déconnexion</a>
      </div>
    </div>

    <div *ngIf="!isLoggedIn" class="profil">
      <i class="bi bi-person-circle"></i>
      <div class="profile-dropdown">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="login-dropdown-form">
          <div class="form-group px-3">
            <input name="email" [(ngModel)]="email" required type="email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group px-3 mt-2">
            <input name="password" [(ngModel)]="password" required type="password" placeholder="Mot de passe"
              class="form-control">
          </div>
          <div class="px-3 mt-3">
            <button class="btn btn-primary w-100" type="submit" [disabled]="loading">{{ loading ? 'Connexion...' : 'Se
              connecter' }}</button>
          </div>
        </form>
        <div class="register-container">
          <a routerLink="/register" class="register-link">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>
</nav>