

/* Le conteneur parent qui définit la taille de la carte */
.movie-card-wrapper {
  position: relative;
  width: 18rem;
  height: 500px; /* TAILLE FIXE : la carte ne bougera jamais */
  flex: 0 0 18rem;
  border-radius: 4px;
  overflow: hidden;
  display:flex;
  flex-direction:column;
  background-color:black;
  transition: transform 0.3s ease;
  cursor: pointer;
  
  &:hover .movie-img {
    transform: scale(1.05);
  }
}
/* L'image occupe tout le fond */
.movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Le dégradé qui va du milieu vers le bas */
.movie-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(0,0,0,0.95) 100%);
  z-index: 1;
  pointer-events: none;
}

/* Le texte est flottant au-dessus */
.card-body-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
  color: white;
  
  /* C'EST ICI LE SECRET : On limite la zone du texte pour qu'il ne dépasse pas du bas */
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Ton système d'expansion */
.text-truncate-custom {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}