<div class="card shadow m-4 movie-card-fixed" 
     style="width: 18rem" 
     [style.height]="isExpanded ? '600px' : '500px'">
  
  @if(movie.image) {
    <img [src]="'http://localhost:8080/movies/' + movie.id + '/image'" 
         class="movie-img" 
         alt="{{movie.title}}"
         [routerLink]="['/movies', getMovieUrl(movie.title)]">
  }

  <div class="movie-card-overlay"></div>

  <div class="card-body-overlay d-flex flex-column">
    <h5 class="card-title text-white" >{{movie.title}}</h5>
    
    <p class="card-text text-white" [class.text-truncate-custom]="!isExpanded">
      {{movie.synopsis}}
    </p>

    <button class="btn btn-link p-0 text-start mb-2 text-white" (click)="toggleExpand($event)">
      {{ isExpanded ? 'Voir moins' : 'Voir plus...' }}
    </button>
    
    <div class="mt-auto text-end">
      <div class="stars-container">
        @for (star of [1, 2, 3, 4, 5]; track star) {
          @if (movie.rate! >= star) {
            <i class="bi bi-star-fill text-warning fs-4"></i>
          } @else {
            <i class="bi bi-star text-warning fs-4"></i>
          }
        }
        <span class="ms-2 text-muted">({{movie.rate}}/5)</span>
      </div>
    </div>
  </div>
</div>