<div class="card shadow m-4" style="width: 18rem; min-height: 55rem" [routerLink]="['/movies', getMovieUrl(movie.title)]">
  @if(movie.image) {
   <img [src]="'http://localhost:8080/movies/' + movie.id + '/image'" 
     class="card-img-top movie-img" 
     alt="{{movie.title}}">
  }
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <p class="card-text">{{movie.synopsis}}</p>
    <div class="mt-2 text-end">
          <div class="stars-container">
            @for (star of [1, 2, 3, 4, 5]; track star) {
              @if (movie.rate! >= star) {
                <i class="bi bi-star-fill text-warning fs-4"></i>
              } @else {
                <i class="bi bi-star text-warning fs-4"></i>
              }
            }
            <span class="ms-2 text-muted">({{movie.rate}}/5)</span>
          </div>
        </div>
  </div>
</div>
