@import "bootstrap-icons/font/bootstrap-icons.css";

:host {
	display: block;
}
.aucunResultat{
  display: flex; 
  justify-content: center; 
  align-items: center; 

  text-align: center;
  border: 1px solid ;
  border-color:rgba(225,160,122,0.85);
  border-radius: 6px;
 background-color: rgba(255, 160, 122, 0.18);
 padding:15px;
 margin:auto;
 width:40%;
 margin-bottom:5%;
 margin-top:5%;
}


.table-hover tbody tr:hover td {
  background-color:hsl(360 100% 95.6%);
  
  cursor: pointer;
}
.table-hover tbody tr:hover th {
  background-color:hsl(360 100% 95.6%);
  cursor: pointer;
}

.movie-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  margin: 1rem 0;
}
.movie-header.admin-mode {
  justify-content: space-between; 
}

.movie-header h1 {
  margin: 0;
  text-align: center;
}


.movie-list-container {
	padding: 0 1.5rem;
}

@media (min-width: 768px) {
	.movie-list-container {
		padding: 0 3rem;
	}
	
	.movie-header {
		padding: 0 3rem;
	}
}


