:host {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1080;
    width: auto;
    max-width: 350px;
}

.toast.show {
    display: block;
    opacity: 1;
}

.toast {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    display: block !important;
}

.toast.closing {
    opacity: 0;
}