:host {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1080;
    width: auto;
    max-width: 350px;
}

.toast.show {
    display: block;
    opacity: 1;
}

.toast {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    /* Durée de la disparition */
    display: block !important;
    /* Force l'affichage Bootstrap */
}

/* Quand isClosing est vrai, l'opacité tombe à 0 */
.toast.closing {
    opacity: 0;
}