@if (isLoading()) {
    <div class="d-flex justify-content-center p-5">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
} @else {

<swiper-container
  navigation="true" 
  pagination="true" 
  slides-per-view="1.5"   centered-slides="true" 
  initial-slide="0"      space-between="30"
  class="my-movie-swiper"
  loop="true"
  grab-cursor="true">
  
  @for (movie of movies$ | async; track movie.id) {
    <swiper-slide>
      <app-movie-card-carousel [movie]="movie"></app-movie-card-carousel>
    </swiper-slide>
  }
</swiper-container>
<swiper-container 
  navigation="true" 
  pagination="true" 
  slides-per-view="4" 
  space-between="20"
  class="my-movie-swiper"
  loop="true">

  @for (movie of movies$ | async; track movie.id) {
    <swiper-slide>
      <app-movie-card [movie]="movie"></app-movie-card>
    </swiper-slide>
  }
</swiper-container>



}