.hero-swiper-section {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin-bottom: 10px;
}

.hero-movie-swiper {
  width: 100%;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bottom: -3px;
  margin-bottom: 28px;
}
;

.hero-movie-swiper swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-section {
  margin-bottom: 0;
  padding: 0 20px;
}

.swiper-section h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .hero-swiper-section {
    min-height: 85vh;
    padding: 10px;
  }

  .swiper-section h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}